.container {
    padding-top: 50px;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

    button {
        border: 1px solid white;
        border-radius: 4px;
        text-align: center;
        padding: 6px 18px;
    }
}